@tailwind base;
@tailwind components;

/* add customizations before importing tailwind's utilities! */
button {
  @apply bg-white text-twitterblue border-twitterblue py-2 px-4 border rounded-full;
  transition: box-shadow 0.3s;
}

button:hover {
  @apply text-accent-purple;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),
              0 1px 7px 0 rgba(0,0,0,.12),
              0 3px 1px -1px rgba(0,0,0,.2);
}

button:active, button:focus {
  @apply outline-none;
}

@tailwind utilities;
