@tailwind base;
@tailwind components;

/* add customizations before importing tailwind's utilities! */
a {
  @apply text-twitterblue;
}
a:hover {
  @apply underline;
}

button {
  @apply bg-white text-twitterblue border-twitterblue py-2 px-4 border rounded-full;
  transition: box-shadow 0.3s;
}

button:hover {
  @apply text-accent-purple;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),
              0 1px 7px 0 rgba(0,0,0,.12),
              0 3px 1px -1px rgba(0,0,0,.2);
}

button:active, button:focus {
  @apply outline-none;
}

input {
  @apply border-b-2 border-gray-400 text-accent-purple font-medium;
}

input:focus,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  @apply outline-none border-twitterblue;
}

/* Disable WebKit's colors for auto-filled values */
input:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:hover {
  @apply border-b-2 border-gray-400 text-accent-purple font-medium !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  /* This should always have the value of text-accent-purple (see @apply, abbove) */
  -webkit-text-fill-color: rgb(175, 52, 175);
}

body {
  overflow-x: hidden;
}

.prefix-label-input {
  @apply flex justify-center font-medium;
}
.prefix-label-input>label {
  position: absolute;
  top: 0;
  left: 55px;
  font-size: 1rem;
  cursor: text;
  transition: transform .2s ease-out,color .2s ease-out;
  transform-origin: 0 100%;
  text-align: initial;
  transform: translateY(12px);
}

.prefix-label-input>input {
  width: calc(100% - 3rem)
}

.prefix-label-input input:focus ~ label,
.prefix-label-input > label.active {
  transform: translateY(-14px) scale(.8);
  transform-origin: 0 0;
}

.card {
  @apply p-5 flex bg-white shadow-md rounded;
}

/* Label formatting when closed */
.tab label {
  @apply border-l-0;
  transition: border .3s;
  -webkit-transition: border .3s;
  -o-transition: border .3s;
}
/* Icon */
.tab label:not(.result-profile)::after {
  float: right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
}
.tab label:not(.result-profile)::after {
  transition: transform .3s;
  transform: rotateX(0);
}
/* :checked - resize to full height */
.tab input:checked ~ label::after {
  transform: rotateX(-180deg);
}

.tab label:not(.result-profile)::after {
  @apply font-bold;
  content: "\25BE";
}

.loading-animation {
  animation: loadingBlurAnimation 2s ease-out infinite;
}

@keyframes loadingBlurAnimation {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}

@tailwind utilities;
